
body {
	padding: 10px;
	background: #0277BD; /* overriden */
    background: -webkit-gradient(linear, left top, right bottom, from(#c26bd6), to(#3123ae));
    background: linear-gradient(to bottom right, #c26bd6 0%, #3123ae 100%);
    
    background: #444;
	font-family: 'lato', sans-serif ;
	max-width: 1200px;
	margin: 60px auto 0 auto;
}

header {
	margin: 0;
	
}

content {
	margin: 10px;
}

.title-container {
	background: #eee;
	position: relative;
	top: 48px;
	padding: 5px;
}
.title{
	text-decoration: none;
	font-size: 36px;
	color: rgba(52, 73, 94,1.0);
	/* text-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); */
	text-align: center;
}

.logo{
	display: block;
    flex: 0 1 140px;
	
	height: auto;
	text-decoration: none;
	font-size: 28px;
	color: rgba(52, 152, 219,1.0);
	font-weight: bold;
	margin: 0 0 0 32px;
	align-self: center;
	text-shadow: 0 0 .5px black;
/*	border-right: 1px solid rgba(52, 73, 94,1.0);*/
	/* text-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); */
}

.navlist{
    flex: 1;
    min-width: 360px;
}

.ulnav{
	list-style-type: none;
	margin: 0;
	padding: 0;
	color: white;
}
.linav{
	float: right;
}
.anav{
	display: block;
	text-decoration: none;
	color: white;
	margin: 0 18px;
	padding: 8px 6px;
	border-bottom: 3px solid #222;
	text-shadow: 0 0 5px rgba(52, 152, 219,1.0);

}
.anav:hover{
	color: rgba(52, 152, 219,1.0);
}
a[id="fb"]{
    float: right;
    border: 1px solid #444;
    padding: 10px 10px;
}

.showcase {
	border-radius: 3px;
	padding: 10px;
	margin: 60px 0;
}
.showcase-title > h2{
	color: #0277BD;
	
}
.showcase-title > h3{
	color: #666;
}
.showcase-title > p {
	color: #555;
}
.showcase-title{
	text-align: center;
	margin: 0 0 40px 0;
	/*border: 1px solid #000;  /* to be deleted */
}

.card {
	border-radius: 3px;
	background: rgba(236, 240, 241,1.0);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.21);
    box-shadow: 0 3px 5px rgba(0,0,0,0.16), 0 3px 5px rgba(0,0,0,0.23);
	
}

	.navbar{
		display: flex;
        flex-wrap: wrap;
        justify-content: center;
        transition: flex-wrap 1s ease;
		grid-template-columns: 180px 2fr;
		background: #222; /* rgba(44, 62, 80,1.0); */
		width: 100%;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 10;
		border-radius: 0;
		margin: 0 0 48px 0;
		padding: 10px;

	}

.card-element {
	display: grid;
	text-align: center;
	font-family: 'lato', sans-serif;
	font-size: 48px;
	padding: 10px;
	vertical-align: center;
	align-content: center;
	position: relative;
	transition: opacity .2s ease;
}
.card-element:hover{
	opacity: .9;
}

.width-bar{
	display: block;
	font-size: 12px;
	text-align: right;
	padding: 5px 5px 0 0;
	position: absolute;
	right: 0;
}

.with-width{
	content: 
}

.card-colored-1{
	background: rgba(231, 76, 60,1.0);
	color: #fff;
}
.card-colored-2 {
	background: rgba(230, 126, 34,1.0);
	color: #fff;
}

.card-colored-3 {
	background: rgba(241, 196, 15,1.0);
	color: #fff;
}

.card-colored-4 {
	background: rgba(46, 204, 113,1.0);
	color: #fff;
}
.card-colored-5 {
	background: rgba(52, 152, 219,1.0);
	color: #fff;
}
.card-colored-6 {
	background: rgba(155, 89, 182,1.0);
	color: #fff;
}

.Without-grids{
	margin: 10px 0px;
}

.grid {
	display: grid;
	grid-gap: 5px;
	grid-template-rows: 100px 100px;
	grid-auto-rows: 100px;
}

.grid1{
	grid-template-columns: 200px 200px 200px; /* Overridden by next line */
	grid-template-columns: repeat(3, 200px);
}

.grid2{
	grid-template-columns: 1fr 2fr 1fr;
}

.grid3{
	grid-template-columns: 1fr auto 1fr;
}

.grid4{
	grid-template-columns: minmax(50px, 1fr) minmax(150px, 1fr) 1fr;
}

.grid5{
	grid-template-columns: repeat(3, 1fr);
}
	.grid5 > .card-colored-1 {
		grid-row: 1 / 3 ;
	}
	.grid5 > .card-colored-2 {
		grid-column: 2 / 4 ;
	}
	.grid5 > .card-colored-5 {
		grid-column: 1 / 3 ;
	}

.grid6{
	grid-template-columns: repeat(6, 1fr);
	grid-template-areas:
		"c1 c1 c2 c2 c2 c3"
		"c1 c1 c4 c4 c5 c3"
		"c6 c6 c6 c6 c6 c3" ;
}
	.grid6 > .card-colored-1 {
		grid-area: c1 ;
	}
	.grid6 > .card-colored-2 {
		grid-area: c2 ;
	}
	.grid6 > .card-colored-3 {
		grid-area: c3 ;
	}
	.grid6 > .card-colored-4 {
		grid-area: c4 ;
	}
	.grid6 > .card-colored-5 {
		grid-area: c5 ;
	}
	.grid6 > .card-colored-6 {
		grid-area: c6 ;
	}

.grid7{
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.grid-pro1{
	grid-template-columns: repeat(6, 1fr);
	grid-template-areas:
		"h h h h h h"
		"m m c c c c"
		"f f f f f f" ;
	grid-template-rows: 80px 300px 60px;
	-webkit-transition: all 2s;
}
	.grid-pro1 > .card-colored-1 {
		grid-area: h ;
		font-size: 28px;
	}
	.grid-pro1 > .card-colored-2 {
		grid-area: m ;
		font-size: 28px;
	}
	.grid-pro1 > .card-colored-3 {
		grid-area: c ;
		font-size: 28px;
	}
	.grid-pro1 > .card-colored-4 {
		grid-area: f ;
		font-size: 28px;
	}
@media screen and (max-width: 480px) {
	.grid-pro1 {
		grid-template-areas:
		"h h h h h h"
		"m m m m m m"
		"c c c c c c"
		"f f f f f f" ;
	grid-template-rows: 80px 40px 300px 60px;
	transition: all 2s;
	}
}